In [79]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [80]:
%matplotlib inline

In [81]:
#variable to use for import data path
outpatient_fp='../data/MUP_OHP_R19_P04_V10_D17_APC_Provider.xlsx'

In [82]:
#import data with selected columns, cut off 1st four rows and use row 5 as culumn names, 
# convert two numeric columns to strings to preserve any leading zeros
outpatient=pd.read_excel(
    outpatient_fp,
    header=5,
    usecols=['Provider ID','Provider Name','Provider City','Provider\nState','Provider\nZip Code',
            'APC','APC\nDescription','Beneficiaries','Comprehensive APC\nServices',
             'Average\nMedicare\nAllowed\nAmount','Average\nMedicare\nPayment\nAmount'],
    dtype={'Provider\nZip Code':'str','APC':'str'}
    )

In [83]:
#lower case column lables
outpatient.columns=map(str.lower,outpatient.columns)

In [84]:
#replace blank spaces with underscores(_)
outpatient.columns=outpatient.columns.str.strip().str.replace(' ','_')

In [85]:
#replace blank new line character(\n) with underscores(_)
outpatient.columns=outpatient.columns.str.strip().str.replace('\n','_')

In [86]:
outpatient

,provider_id,provider_name,provider_city,provider_state,provider_zip_code,apc,apc_description,beneficiaries,comprehensive_apc_services,average_medicare_allowed_amount,average_medicare_payment_amount
0,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,1038.454672,826.277954
1,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,1792.596792,1423.246792
2,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,27,2113.580000,1683.990000
3,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5092,Level 2 Breast/Lymphatic Surgery and Related P...,23.0,23,3737.140000,2977.550000
4,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5112,Level 2 Musculoskeletal Procedures,17.0,17,1029.460000,820.210000
...,...,...,...,...,...,...,...,...,...,...,...
61774,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5361,Level 1 Laparoscopy and Related Services,18.0,18,3866.822778,3044.482778
61775,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5373,Level 3 Urology and Related Services,11.0,11,1469.871818,1147.781818
61776,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5375,Level 5 Urology and Related Services,20.0,21,3356.890000,2674.590000
61777,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5431,Level 1 Nerve Procedures,NaN,12,1506.380000,1200.200000
61778,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,8011,Comprehensive Observation Services,156.0,165,2141.540000,1706.270000

In [87]:
outpatient.isnull().sum()

provider_id                          0
provider_name                        0
provider_city                        0
provider_state                       0
provider_zip_code                    0
apc                                  0
apc_description                      0
beneficiaries                      997
comprehensive_apc_services           0
average_medicare_allowed_amount      0
average_medicare_payment_amount      0
dtype: int64

In [88]:
#rename column 'provider_zip_code' to 'zip_code' to elimate doubling of zip code column n merged data frame
outpatient=outpatient.rename(columns={'provider_zip_code':'zip_code'}).dropna()
outpatient

,provider_id,provider_name,provider_city,provider_state,zip_code,apc,apc_description,beneficiaries,comprehensive_apc_services,average_medicare_allowed_amount,average_medicare_payment_amount
0,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,1038.454672,826.277954
1,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,1792.596792,1423.246792
2,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,27,2113.580000,1683.990000
3,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5092,Level 2 Breast/Lymphatic Surgery and Related P...,23.0,23,3737.140000,2977.550000
4,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5112,Level 2 Musculoskeletal Procedures,17.0,17,1029.460000,820.210000
...,...,...,...,...,...,...,...,...,...,...,...
61773,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5302,Level 2 Upper GI Procedures,17.0,18,1286.130000,1024.720000
61774,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5361,Level 1 Laparoscopy and Related Services,18.0,18,3866.822778,3044.482778
61775,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5373,Level 3 Urology and Related Services,11.0,11,1469.871818,1147.781818
61776,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5375,Level 5 Urology and Related Services,20.0,21,3356.890000,2674.590000
61778,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,8011,Comprehensive Observation Services,156.0,165,2141.540000,1706.270000

In [89]:
outpatient.columns

Index(['provider_id', 'provider_name', 'provider_city', 'provider_state',
       'zip_code', 'apc', 'apc_description', 'beneficiaries',
       'comprehensive_apc_services', 'average_medicare_allowed_amount',
       'average_medicare_payment_amount'],
      dtype='object')

In [90]:
outpatient.shape

(60782, 11)

In [91]:
outpatient.dtypes

provider_id                          int64
provider_name                       object
provider_city                       object
provider_state                      object
zip_code                            object
apc                                 object
apc_description                     object
beneficiaries                      float64
comprehensive_apc_services           int64
average_medicare_allowed_amount    float64
average_medicare_payment_amount    float64
dtype: object

In [92]:
outpatient.isnull().sum()

provider_id                        0
provider_name                      0
provider_city                      0
provider_state                     0
zip_code                           0
apc                                0
apc_description                    0
beneficiaries                      0
comprehensive_apc_services         0
average_medicare_allowed_amount    0
average_medicare_payment_amount    0
dtype: int64

In [106]:
# Filter for APC 5302
outpatient_5302=outpatient[outpatient['apc'].str.contains ('5302')]
outpatient_5302

,provider_id,provider_name,provider_city,provider_state,zip_code,apc,apc_description,beneficiaries,comprehensive_apc_services,average_medicare_allowed_amount,average_medicare_payment_amount
22,10001,Southeast Alabama Medical Center,Dothan,AL,36301,5302,Level 2 Upper GI Procedures,165.0,177,1123.669040,894.249040
60,10005,Marshall Medical Center South,Boaz,AL,35957,5302,Level 2 Upper GI Procedures,48.0,64,1148.718437,912.358438
90,10006,Eliza Coffee Memorial Hospital,Florence,AL,35631,5302,Level 2 Upper GI Procedures,193.0,229,1048.260873,831.002882
126,10011,St Vincent's East,Birmingham,AL,35235,5302,Level 2 Upper GI Procedures,88.0,89,1105.347640,868.938876
141,10012,Dekalb Regional Medical Center,Fort Payne,AL,35968,5302,Level 2 Upper GI Procedures,78.0,81,1143.928025,904.270617
...,...,...,...,...,...,...,...,...,...,...,...
61692,670096,"Bay Area Regional Medical Center, Llc",Webster,TX,77598,5302,Level 2 Upper GI Procedures,18.0,19,1286.130000,1024.720000
61708,670102,"Ad Hospital East, Llc",Houston,TX,77015,5302,Level 2 Upper GI Procedures,16.0,16,1260.400000,1004.220000
61712,670103,Medical City Alliance,Fort Worth,TX,76177,5302,Level 2 Upper GI Procedures,20.0,25,1266.740000,1009.270000
61727,670108,Baylor Scott & White Medical Center - Marble F...,Marble Falls,TX,78654,5302,Level 2 Upper GI Procedures,27.0,33,1137.490000,906.290000
61773,670122,Houston Methodist The Woodlands Hospital,The Woodlands,TX,77385,5302,Level 2 Upper GI Procedures,17.0,18,1286.130000,1024.720000

In [93]:
#import zip_cbsa.cvs
zip_cbsa=pd.read_csv(
    '../data/zip_cbsa.csv',
    #convert numeric data to strings to preserve leading zeros
    dtype={'zip_code':'str','cbsa':'str'})

In [94]:
zip_cbsa

      zip_code   cbsa
0        00501  35620
1        00601  38660
2        00602  10380
3        00603  10380
4        00604  10380
...        ...    ...
47410    99925  99999
47411    99926  99999
47412    99927  99999
47413    99928  28540
47414    99929  99999

[47415 rows x 2 columns]

In [95]:
zip_cbsa.dtypes

zip_code    object
cbsa        object
dtype: object

In [96]:
#find CBSA code for Nashville using known Nashville zip code
cbsa_nash=zip_cbsa[zip_cbsa['zip_code']=='37205']
cbsa_nash

      zip_code   cbsa
17171    37205  34980

In [97]:
#find all zip codes in CBSA 34980
cbsa_zip_nash=zip_cbsa[zip_cbsa['cbsa']=='34980']
cbsa_zip_nash

      zip_code   cbsa
16984    37010  34980
16986    37011  34980
16988    37012  34980
16989    37013  34980
16990    37014  34980
...        ...    ...
17956    38560  34980
17958    38563  34980
17962    38567  34980
17965    38569  34980
17990    38588  34980

[157 rows x 2 columns]

In [98]:
#convert cbsa 34980 to zip code list for use in next step
cbsa_zip_nash_list=cbsa_zip_nash['zip_code'].to_list()
cbsa_zip_nash_list

['37010',
 '37011',
 '37012',
 '37013',
 '37014',
 '37015',
 '37016',
 '37018',
 '37020',
 '37022',
 '37024',
 '37025',
 '37026',
 '37027',
 '37029',
 '37030',
 '37031',
 '37032',
 '37035',
 '37036',
 '37037',
 '37043',
 '37046',
 '37048',
 '37049',
 '37051',
 '37052',
 '37055',
 '37056',
 '37057',
 '37060',
 '37062',
 '37063',
 '37064',
 '37065',
 '37066',
 '37067',
 '37068',
 '37069',
 '37070',
 '37071',
 '37072',
 '37073',
 '37074',
 '37075',
 '37076',
 '37077',
 '37080',
 '37082',
 '37083',
 '37085',
 '37086',
 '37087',
 '37088',
 '37089',
 '37090',
 '37091',
 '37095',
 '37101',
 '37110',
 '37115',
 '37116',
 '37118',
 '37119',
 '37121',
 '37122',
 '37127',
 '37128',
 '37129',
 '37130',
 '37131',
 '37132',
 '37133',
 '37135',
 '37138',
 '37141',
 '37143',
 '37145',
 '37146',
 '37148',
 '37149',
 '37150',
 '37151',
 '37152',
 '37153',
 '37160',
 '37165',
 '37166',
 '37167',
 '37171',
 '37172',
 '37174',
 '37179',
 '37180',
 '37181',
 '37184',
 '37186',
 '37187',
 '37188',
 '37189',
 '37190',
 '37201',
 '37202',
 '37203',
 '37204',
 '37205',
 '37206',
 '37207',
 '37208',
 '37209',
 '37210',
 '37211',
 '37212',
 '37213',
 '37214',
 '37215',
 '37216',
 '37217',
 '37218',
 '37219',
 '37220',
 '37221',
 '37222',
 '37224',
 '37227',
 '37228',
 '37229',
 '37232',
 '37234',
 '37235',
 '37236',
 '37238',
 '37240',
 '37242',
 '37243',
 '37246',
 '37250',
 '37357',
 '38401',
 '38402',
 '38451',
 '38454',
 '38461',
 '38472',
 '38474',
 '38476',
 '38482',
 '38483',
 '38487',
 '38547',
 '38548',
 '38552',
 '38560',
 '38563',
 '38567',
 '38569',
 '38588']

In [107]:
#filter outpatient for Nashville CBSA 
#provider_asc_hcpcs_43249_Nash=provider_asc_hcpcs_43249[provider_asc_hcpcs_43249.zip_code.isin(cbsa_zip_nash_list)]
outpatient_5302_cbsa_34980=outpatient_5302[outpatient_5302['zip_code'].isin(cbsa_zip_nash_list)]
outpatient_5302_cbsa_34980

,provider_id,provider_name,provider_city,provider_state,zip_code,apc,apc_description,beneficiaries,comprehensive_apc_services,average_medicare_allowed_amount,average_medicare_payment_amount
49917,440003,Sumner Regional Medical Center,Gallatin,TN,37066,5302,Level 2 Upper GI Procedures,103.0,114,1223.454825,968.390614
49935,440006,Tristar Skyline Medical Center,Nashville,TN,37207,5302,Level 2 Upper GI Procedures,13.0,15,1248.620000,994.840000
50146,440029,Williamson Medical Center,Franklin,TN,37067,5302,Level 2 Upper GI Procedures,16.0,18,1248.620000,994.840000
50269,440039,Vanderbilt University Medical Center,Nashville,TN,37232,5302,Level 2 Upper GI Procedures,477.0,623,1205.620546,958.820642
50304,440046,Tristar Horizon Medical Center,Dickson,TN,37055,5302,Level 2 Upper GI Procedures,12.0,13,1095.567692,841.787692
50426,440053,Saint Thomas Rutherford Hospital,Murfreesboro,TN,37129,5302,Level 2 Upper GI Procedures,50.0,55,1248.620000,994.840000
50536,440065,Northcrest Medical Center,Springfield,TN,37172,5302,Level 2 Upper GI Procedures,26.0,29,1248.620000,994.840000
50612,440073,Maury Regional Hospital,Columbia,TN,38401,5302,Level 2 Upper GI Procedures,209.0,254,1229.639134,973.600787
50660,440082,Saint Thomas West Hospital,Nashville,TN,37205,5302,Level 2 Upper GI Procedures,189.0,207,1224.590048,970.810048
50790,440111,Metro Nashville General Hospital,Nashville,TN,37208,5302,Level 2 Upper GI Procedures,11.0,12,1248.620000,994.840000
50923,440133,Saint Thomas Midtown Hospital,Nashville,TN,37236,5302,Level 2 Upper GI Procedures,76.0,98,1238.468571,984.688571
50977,440150,Tristar Summit Medical Center,Hermitage,TN,37076,5302,Level 2 Upper GI Procedures,16.0,21,1159.030952,905.250952
51056,440161,Tristar Centennial Medical Center,Nashville,TN,37203,5302,Level 2 Upper GI Procedures,151.0,170,1207.656000,953.876000
51257,440193,Tennova Healthcare-Lebanon,Lebanon,TN,37087,5302,Level 2 Upper GI Procedures,29.0,30,1182.297333,928.517333
51274,440194,Tristar Hendersonville Medical Center,Hendersonville,TN,37075,5302,Level 2 Upper GI Procedures,85.0,92,1142.076522,886.705217
51288,440197,Tristar Southern Hills Medical Center,Nashville,TN,37211,5302,Level 2 Upper GI Procedures,44.0,49,1228.336327,973.597143
51305,440227,Tristar Stonecrest Medical Center,Smyrna,TN,37167,5302,Level 2 Upper GI Procedures,47.0,51,1170.593333,916.813333

In [110]:
outpatient_5302_cbsa_34980.shape

(17, 11)

In [108]:
outpatient_5302_cbsa_34980.dtypes

provider_id                          int64
provider_name                       object
provider_city                       object
provider_state                      object
zip_code                            object
apc                                 object
apc_description                     object
beneficiaries                      float64
comprehensive_apc_services           int64
average_medicare_allowed_amount    float64
average_medicare_payment_amount    float64
dtype: object

In [109]:
# see what asc_descriptions exist in 
outpatient_5302_cbsa_34980.apc_description.unique()

array(['Level 2 Upper GI Procedures'], dtype=object)

Work below is a false track as APC codes arer not 5302

In [103]:
#HCPCS Code 43249 is Balloon dilation of esophagus using an endoscope 
#Filter APC description for "Level 3 Airway Endoscopy"
outpatient_cbsa_34980_L3_airway=outpatient_cbsa_34980[outpatient_cbsa_34980['apc_description'].str.contains 
                                                   ('Level 3 Airway Endoscopy')]
outpatient_cbsa_34980_L3_airway

,provider_id,provider_name,provider_city,provider_state,zip_code,apc,apc_description,beneficiaries,comprehensive_apc_services,average_medicare_allowed_amount,average_medicare_payment_amount
49912,440003,Sumner Regional Medical Center,Gallatin,TN,37066,5153,Level 3 Airway Endoscopy,11.0,11,1187.780000,946.360000
49931,440006,Tristar Skyline Medical Center,Nashville,TN,37207,5153,Level 3 Airway Endoscopy,33.0,34,1159.945882,918.525882
50140,440029,Williamson Medical Center,Franklin,TN,37067,5153,Level 3 Airway Endoscopy,11.0,11,1187.780000,946.360000
50252,440039,Vanderbilt University Medical Center,Nashville,TN,37232,5153,Level 3 Airway Endoscopy,171.0,240,1187.793583,945.691542
50603,440073,Maury Regional Hospital,Columbia,TN,38401,5153,Level 3 Airway Endoscopy,18.0,18,1187.780000,946.360000
50647,440082,Saint Thomas West Hospital,Nashville,TN,37205,5153,Level 3 Airway Endoscopy,75.0,75,1162.570800,919.796533
50912,440133,Saint Thomas Midtown Hospital,Nashville,TN,37236,5153,Level 3 Airway Endoscopy,19.0,20,1187.780000,946.360000
51043,440161,Tristar Centennial Medical Center,Nashville,TN,37203,5153,Level 3 Airway Endoscopy,36.0,39,1163.636410,916.101795
51253,440193,Tennova Healthcare-Lebanon,Lebanon,TN,37087,5153,Level 3 Airway Endoscopy,13.0,14,1052.585714,811.165714

In [ ]:
outpatient_cbsa_34980_L3_airway

In [104]:
#HCPCS Code 43249 is Balloon dilation of esophagus using an endoscope 
#Filter APC description for "Level 4 Airway Endoscopy"
outpatient_cbsa_34980_L4_airway=outpatient_cbsa_34980[outpatient_cbsa_34980['apc_description'].str.contains 
                                                   ('Level 4 Airway Endoscopy')]
outpatient_cbsa_34980_L4_airway

,provider_id,provider_name,provider_city,provider_state,zip_code,apc,apc_description,beneficiaries,comprehensive_apc_services,average_medicare_allowed_amount,average_medicare_payment_amount
49913,440003,Sumner Regional Medical Center,Gallatin,TN,37066,5154,Level 4 Airway Endoscopy,11.0,11,2274.200000,1811.960000
49932,440006,Tristar Skyline Medical Center,Nashville,TN,37207,5154,Level 4 Airway Endoscopy,28.0,28,2274.200000,1811.960000
50141,440029,Williamson Medical Center,Franklin,TN,37067,5154,Level 4 Airway Endoscopy,41.0,41,2233.509268,1771.269268
50253,440039,Vanderbilt University Medical Center,Nashville,TN,37232,5154,Level 4 Airway Endoscopy,415.0,505,2259.852931,1797.358356
50418,440053,Saint Thomas Rutherford Hospital,Murfreesboro,TN,37129,5154,Level 4 Airway Endoscopy,16.0,16,2274.200000,1811.960000
50604,440073,Maury Regional Hospital,Columbia,TN,38401,5154,Level 4 Airway Endoscopy,73.0,80,2230.858625,1768.618625
50648,440082,Saint Thomas West Hospital,Nashville,TN,37205,5154,Level 4 Airway Endoscopy,45.0,47,2274.262340,1808.907447
50913,440133,Saint Thomas Midtown Hospital,Nashville,TN,37236,5154,Level 4 Airway Endoscopy,26.0,27,2274.200000,1811.960000
50971,440150,Tristar Summit Medical Center,Hermitage,TN,37076,5154,Level 4 Airway Endoscopy,29.0,31,2274.200000,1811.960000
51044,440161,Tristar Centennial Medical Center,Nashville,TN,37203,5154,Level 4 Airway Endoscopy,157.0,163,2251.967362,1789.727362

In [105]:
#HCPCS Code 43249 is Balloon dilation of esophagus using an endoscope 
#Filter APC description for "Level 5 Airway Endoscopy"
outpatient_cbsa_34980_L5_airway=outpatient_cbsa_34980[outpatient_cbsa_34980['apc_description'].str.contains 
                                                   ('Level 5 Airway Endoscopy')]
outpatient_cbsa_34980_L5_airway

,provider_id,provider_name,provider_city,provider_state,zip_code,apc,apc_description,beneficiaries,comprehensive_apc_services,average_medicare_allowed_amount,average_medicare_payment_amount
50254,440039,Vanderbilt University Medical Center,Nashville,TN,37232,5155,Level 5 Airway Endoscopy,98.0,100,4048.633500,3219.133500
50605,440073,Maury Regional Hospital,Columbia,TN,38401,5155,Level 5 Airway Endoscopy,13.0,13,3580.896154,2751.396154
51045,440161,Tristar Centennial Medical Center,Nashville,TN,37203,5155,Level 5 Airway Endoscopy,48.0,49,4047.546939,3218.046939