In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
#variable to use for import data path
zip_fp="../data/ZIP_CBSA_032020.xlsx"

In [17]:
#import using variable for file path, selecting columns, converting data types
zip_cbsa=pd.read_excel(
    zip_fp,
    usecols=['ZIP','CBSA'],
    #convert numeric data to strings to preserve leading zeros
    dtype={'ZIP':'str','CBSA':'str'}
)

In [18]:
#make cut off last four numbers if a zip plus four
#df[0].str.slice(0, -5)
zip_cbsa['ZIP'].str[:5]

0        00501
1        00601
2        00602
3        00603
4        00604
         ...
47410    99925
47411    99926
47412    99927
47413    99928
47414    99929
Name: ZIP, Length: 47415, dtype: object

In [19]:
zip_cbsa

         ZIP   CBSA
0      00501  35620
1      00601  38660
2      00602  10380
3      00603  10380
4      00604  10380
...      ...    ...
47410  99925  99999
47411  99926  99999
47412  99927  99999
47413  99928  28540
47414  99929  99999

[47415 rows x 2 columns]

In [20]:
#lower case column lables
#df.columns = map(str.lower, df.columns)
zip_cbsa.columns = map(str.lower, zip_cbsa.columns)

In [21]:
#rename column 'zip' to 'zip_code' to elimate doubling of zip code column when merging with data frames
zip_cbsa=zip_cbsa.rename(columns={'zip':'zip_code'})

In [22]:
#need to run to enforce column name change
zip_cbsa

      zip_code   cbsa
0        00501  35620
1        00601  38660
2        00602  10380
3        00603  10380
4        00604  10380
...        ...    ...
47410    99925  99999
47411    99926  99999
47412    99927  99999
47413    99928  28540
47414    99929  99999

[47415 rows x 2 columns]

In [23]:
zip_cbsa.dtypes

zip_code    object
cbsa        object
dtype: object

In [24]:
zip_cbsa.shape

(47415, 2)

In [25]:
#df.isnull().sum()
zip_cbsa.isnull().sum()

zip_code    0
cbsa        0
dtype: int64

In [26]:
#export as csv file to notebook data folder, can be read from other notebooks
#df.to_csv(r'C:\Users\Admin\Desktop\file3.csv', index=False)
zip_cbsa.to_csv(r'../data/zip_cbsa.csv',index=False)